.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: var(--text-4xl);
  font-weight: 800;
  letter-spacing: 1px;
}

.message {
  text-align: center;
}
