.recipe {
  --layout-gap: 2.5em;
  --section-gap: 1rem;
  --section-padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: var(--layout-gap);
}

@media (min-width: 1024px) {
  .recipe {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
  }
}
