.recipe {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .recipe {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 2.5em;
  }
}
.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 1rem;
}
