.meta_lg {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-column: 1/-1;
  gap: 2.5em;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.meta_sm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-size: var(--text-2xl);
  font-weight: 800;
}

.description {
  font-weight: 450;
}

.image {
  border-radius: var(--radius);
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  height: 100%;
}
