.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.title {
  font-size: var(--text-lg);
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.25em;
}
