.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 1em;
}

.title {
  font-size: var(--text-4xl);
  font-weight: 800;
  white-space: nowrap;
}
.title .highlight {
  color: var(--accent);
  font-style: italic;
  font-variation-settings: "slnt" -10;
  font-style: oblique 10deg;
}

.bait_input {
  width: 100%;
  height: 3rem;
  border-radius: 9999px;
  background-color: var(--secondary);
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  padding: 0.25em 1.25em;
  color: inherit;
  padding-left: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  opacity: 70%;
}

.image {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    gap: clamp(0.5625rem, -6.6578rem + 15.0424vw, 4rem);
    justify-content: center;
  }
  .image {
    display: block;
  }
}
