.nutrition {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container {
  display: flex;
  gap: 5px;
  overflow: scroll;
}
.nutri {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
  align-items: center;
  text-transform: lowercase;
  font-size: var(--text-sm);
  border-radius: 9999px;
  padding: 0.5em;
  border: 0.5px solid var(--border);
}

.nutri h3 {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--background);

  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: var(--text-base);
  border: 1px solid var(--border);
}

.nutri span {
  margin-bottom: 0.75em;
}
