@import url("./assets/css/reset.css");
@import url("./assets/css/fonts.css");
@import url("./assets/css/variables.css");

body {
  font-family: "Inter";
  background-color: var(--background);
  color: var(--text);
}
#root {
  min-height: 100vh;
  min-height: 100dvh; /* mobile */
}

/* utility classes */
/* screen reader only */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
