.container {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--card);
  border-radius: 10px;
  padding: var(--section-padding);
}

.instructions ol {
  margin: 0;
  /* padding: 0 0 0 var(--section-padding); */
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  counter-reset: number;
}
.instructions li {
  counter-increment: number;
}
.instructions li::before {
  content: counter(number);
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: var(--secondary);
  margin-right: 5px;
  border-radius: 100%;
}

.text {
  margin-left: 2rem;
  margin-top: -30px;
  text-align: justify;
  padding-left: 1rem;
}
