.container {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--card);
  border-radius: 10px;
  padding: var(--section-padding);
}

.instructions ol {
  margin: 0;
  padding: 0 0 0 var(--section-padding);
}
